# Erste Schritte in Python

Diese Datei ist ein IPython notebook. Es verfügt über Zellen in denen Python Codezeilen geschrieben werden können. 

Durch drücken von Shift+Enter (Umschalt+Eingabetaste) in der ausgewählten Zellen wir der Code ausgeführt und das Ergebnis darunter angezeigt.

Probier es aus! Klicke auf die folgende Zelle und drücke Schift und Enter gleichzeitig. Unter der Zelle wird
```python
Hello World 
```
erscheinen.

In [ ]:
print('Hello World')

Gratulation Du hast dein erstes Python Statement ausgeführt! 

Wenn Du möchtest kannst du auch jederzeit weitere Zellen einfügen durch drücken des + Symbols in der Toolleiste.

## Einfache Statements

Python ist eine interpretierte, dynamische typisierte Programmierspache. Das heisst im Gegensatz zu z.B. C++ muss der Code nicht erst kompiliert werden und Variablen haben keinen fest definierten Typ.

Variablen können jederzeit durch Zuweisung definiert werden.
Hier ein paar Beispiele wie Variablen definiert werden können. Die Zuweisung erfolgt mit einem einfachen =

In [ ]:
a = 42
a

In [ ]:
text = 'The old fox...'
text

Der Rückgabewert des letzten Statements innerhalb einer Zelle wird darunter ausgegeben. Alternativ kann man Werte auch mit dem 
```python
print()
```
Statement ausgeben.

In Python muss jedes Statement in einer neuen Zeile stehen und der Einzug (Anzahl der Leerzeichen zwischen Zeilenanfang und Anfang des Statements) muss gleich sein.

In [ ]:
a = True
print('Die Variable a hat den Wert',a)
text = 15
print(text)

Die folgende Zelle gibt eine Fehlermeldungen, da der Einzug (Indent) nicht beachtet wurde

In [ ]:
a = True
 print(a)
text = 15
print(text)

Wohingegen die folgende Zelle ok ist

In [ ]:
    a = True 
    print(a)
    text = 15
    print(text)

## Variablen
Wir haben bereits die Zuweisung an Variablen gesehen. Ein Variablenname darf nur aus einfachen Buchstaben A-z, Zahlen 0-9 und dem Unterstrich _ bestehen. Der Variablenname darf aber nicht mit einer Ziffer beginnen. 

Sobald einer Variable etwas zugewiesen wird bleibt die Variable mit dem zuletzt zugwiesenen Wert inerhalb des Notebooks bestehen. Die oben definierte Variable
```python 
text
```
hat also noch immer den letzten wert

In [ ]:
text

Wie bereits erwähnt, können einer Variablen beliebige Typen zugewiesen werden. Für leserlichen Code sollte man das aber in der Regel vermeiden. 
Den aktuelle Typ einer Variable erhält man mit 
```python
type()
```

In [ ]:
text = 'Hello World'
print(type(text))
text = False
print(type(text))
text = 12
print(type(text))
text = 12.5
print(type(text))

## Kommentare
Kommentare werden in Python mit # markiert. Der Text, der einem # folgt wird bis zum Ende einer Zeile ignoriert.

In [ ]:
# Definition einer Variablen
a = 42 # The answer to Life, the Universe, everything
a

## Boolsche Operatoren 

Um Werte zu vergleichen und logische Ausdrücke zu formen, gibt es in Python die Operatoren  
```python 
<, >, ==, !=, <=, >=
```
sowie
```python
and, or , not
```
Mit Klammern können ausrdrücke gruppiert werden.

In [ ]:
a = 5
a >3 and (not False or 2.3 <=9)

## Listen

Als einfache Container gibt es in Python Listen definiert durch eckige Klammern und mit , separiert.

In [ ]:
list_of_numbers = [1,1,2,3,5,8]
list_of_strings = ['hello','world']
list_with_mixed_types = [1,'hello',True,3.141]
empty_list = []

Listen sind 0-indiziert, d.h. das erste Element hat index 0.
Wir können auf die Elemente wie folgt zugreifen:

In [ ]:
print('Wert bei Index 0',list_of_numbers[0])
print('Wert bei Index 4',list_of_numbers[4])

Mit negativen Indices erhält man die Element vom Ende gezählt

In [ ]:
list_of_strings[-1] # -1 ist das letzte element

In [ ]:
list_of_strings[-2]

Wir können auch mehrere Elemente gleichzeitig erhalten

In [ ]:
list_of_numbers[1:4] # Elemente mit Index 1 (inklusive) bis 4 (exklusive)

In [ ]:
list_of_numbers[:4] # Elemente von 0 bis 4 (exclusive)

In [ ]:
list_of_numbers[-3:]

Wir können Listen verändern und erweitern

In [ ]:
list_of_numbers[3] = 42
list_of_numbers

In [ ]:
empty_list.append(19)
empty_list

## Dictionaries
Falls Du nicht nur Elemente in einer Liste zusammenfassen möchtest, sondern jedes Element mit einenm Schlüssel (Key) versehen möchtest, dann gibt es dafür Dictionaries. Sie werden mit geschweiften Klammern definiert.

In [ ]:
points_dict = {'John': 13, 'Donald': 20, 'Fred': 2} # Die Elemente sind Key: Value Paare
points_dict

Über den Schlüssel kann man auf den jeweiligen Wert zugreifen, in verändern, oder auch einen neuen Eintrag hinzufügen

In [ ]:
points_dict['John']

In [ ]:
points_dict['Donald'] = 0
points_dict

In [ ]:
points_dict['Walter'] = -2.5
points_dict

## if statement
Der syntax eines if statements ist wie folgt. Wichtig ist, dass der Code inhalb des if Statements eingerückt ist.

In [ ]:
x = 3
if x>0:
    print('positive')

In [ ]:
x = -1
if x>0:
    print('positive')
else:
    print('not positive')

## for loop

Auch hier ist das Einrücken innerhalb des for statements wichtig

In [ ]:
x = 0
for i in range(5):
    x = x + i
    print(x)

Vergleiche das mit

In [ ]:
x = 0
for i in range(5):
    x = x + i
print(x)

Die Schleife geht hier durch alle Integerwerte von 0 (inklusive) bis 5 (exklusive) definiert durch den Iterator
```python 
range(5) 
```
Statt eines Iterators kann man auch eine Liste verwenden

In [ ]:
for s in ['Hello','World']:
    print(s)

## List Comprehensions
Eine Eigenheit von Pandas ist es, dass es einen speziellen Syntax gibt um listen zu erstellen, genannt List Comprehension.
Dazu können for und if statments direkt in der Defintion der Liste verwendet werden. 

Beispiele:

In [ ]:
[i for i in range(10)] # alle Integer von 0 bis 10 (exklusive)

In [ ]:
[i*i+2 for i in range(10)]

In [ ]:
# sehr praktisch um neue Listen basierend auf anderen Listen zu erstellen
names = ['john','george','donald']
[i.upper() for i in names ]

In [ ]:
# sehr praktisch um neue Listen basierend auf anderen Listen zu erstellen
names = ['john','george','donald']
[i.upper() for i in names if i != 'donald'] # zusätzliche Bedingung

## Funktionen

Funktionen werden mit dem
```python
def 
```
Keyword definiert. Beachte wieder, dass der Code innerhalb der Definition eingerückt sein muss.

In [ ]:
def square(x): # beachte den Doppelpunkt
    result = x*x
    return result

square(5)

***
## Pandas

Python zeichnet sich dadurch aus, dass es durch zusätzliche Packages in seiner Funktionalität erweitert werden kann.
Im Algemeinen müssen diese Packages erst intalliert werden. 
Im AnacondaPrompt: 
```console
conda install packagename
```
Die folgenden Packages wurden während der Erstellung der Conda Umgebung bereits installiert. 

Um ein Package im Code zu verwenden muss es erst geladen werden. Das folgende Statement lädt das Package Pandas und speichert es in der Variable pd

In [ ]:
import pandas as pd

Pandas stellt viele Funktionen zur Verfügung um Daten zu analysieren. Die wichtigsten Objekte sind 
```python
pd.Series()
pd.DataFrame()
```
Eine Series ist ein 1 dimensionaler Kontainer für einen Datenreihe.
Ein DataFrame ist hingegen ein 2d dimensionaler Kontainer der eine DatenTabelle enthalten kann.

Hier einfache Defintionen basierend auf Listen

In [ ]:
data_list = [5,6,3,7,9,2]
data_series = pd.Series(data_list)
data_series

In der Ausgabe ist die erste Spalte der Index. Die zweite Spalte ist die eigentliche DatenReihe.  

Per Default ist der Index von 0 an aufsteigend. Wir können den Index aber auch beliebig manuell setzen:

In [ ]:
data_list = [5,6,3,7,9,2]
data_index = [120,123,455,20,1,8]
data_series = pd.Series(data_list, index=data_index)
data_series

DataFrames funktionieren ähnlich. Hier können wir aber Tabellen speichern

In [ ]:
data_array = [[1, 'john'], 
              [4, 'george'], 
              [2,'donald']] # Einfach eine Liste von Listen 
pd.DataFrame(data_array)

Hier sehen wir wieder per Default numerierte Indices sowie Spaltennamen. Alternativ:

In [ ]:
data_array = [[1, 'john'], 
              [4, 'george'], 
              [2,'donald']] 
df = pd.DataFrame(data_array, index=[123,312,231],columns=['Points','Name'])
df

Der Zugriff auf einzelne Elemente erfolgt mit

In [ ]:
df.loc[312,'Points'] # mit Bezug auf den Index bezw Spaltenname

In [ ]:
df.iloc[2,1] # mit Bezug auf die Koordinaten (mit 0 beginnend)

Die Spalten eines DataFrames sind Series. Man erhält sie wie folgt

In [ ]:
df['Name']

Pandas hat viele Funktionen um Daten zu veranschaulichen, z.B.

In [ ]:
y = [i*i for i in range(10)]
s = pd.Series(y)
s.plot()

Der Wert pandas zeigt sich natürlich vorallem bei grossen Datentabellen. Als Beispiel laden wir ein Standard Datenset über Weine in ein DataFrame. Spiele gerne mit diesem Datenset etwas herum.

In [ ]:
from sklearn.datasets import load_wine
df_wine = load_wine(return_X_y=False, as_frame=True).data
df_wine

In [ ]:
df_wine.info()

In [ ]:
df_wine.max()

In [ ]:
df_wine.mean()

In [ ]:
df_wine.columns

In [ ]:
df_wine[['alcohol', 'malic_acid']]

In [ ]:
df_wine.loc[3:20,'flavanoids':'color_intensity']

In [ ]:
df_wine.plot(kind='scatter', x= 'alcohol', y='proline')

Pandas erlaubt es einfach Daten aus verschiedensten Formaten zu laden. Zum Beispiel kannst Du die Datei auto-mpg.csv einfach einlesen nachdem Du sie von Moodle heruntergeladen hast.

In [ ]:
# passe diesen Pfad an. Wichtig: Behalte das r vor dem Apostrophen ' bei. Andernfalls wird \ als Escapesymbol interpretirert.
datei_pfad = r'C:\Vorlesung\datasets\auto_mpg.csv'
df_auto = pd.read_csv(datei_pfad)
df_auto

Du hast Lust noch mehr über Pandas zu lernen? ... dann gibt es hier noch ein kurzes, interaktives Tutorial https://www.w3schools.com/python/pandas/pandas_series.asp.

Für detailierte Fragen ist die Pandas Website eine gute Anlaufstelle https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html.

# Aufgaben
Zum Abschluss und Wiederholung hier ein paar Aufgaben.

1) Definiere eine Variable und weise ihr den Wert 1000 zu, addiere 5 und gebe den Wert aus.

2) definiere eine Liste mit den Zahlen 1 bis 20

3. definiere eine Funktion die eine Liste von Zahlen als Input nimmt und die die Liste nur mit den Zahlen grösser als 10 zurückgibt:
[1,12,33,4,5,-1.2] -> [12,33]

In [ ]:
def keep_larger_ten(numbers_list):
    result_list = []
    # fülle die Funktion aus
    
    
    return result_list

test_list = [1,12,33,4,5,-1.2]
keep_larger_ten(test_list)

4) definiere ein DataFrame mit der Tabelle

'Preis', 'Anzahl', 'Sorte'\
1.75, 3, Apfel\
3.5, 4, Kiwi\
1.9, 1, Mango

5) Finde aus dem Wine Dataset den durchschnittlichen Alkoholwert der Zeilen 50 bis 100